<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>PHP Skeleton Project</title>
    </head>
    <body>
<h1>PHP Skeleton Project</h1>
<p>Everybody has their favourite components to use when they develop code. This is a collection of the bits and pieces I've come to desire in any PHP project I work on, and a bit of glue to help tie them together.</p>
<p><a href="http://getcomposer.org">Composer</a> lets me pull all of the projects in this skeleton together with ease. Make sure composer is installed, and just run <code>composer.phar install</code>
<p><a href="http://j4mie.github.com/idiormandparis/">Idiorm and Paris</a> provide a nice abstraction for SQL databases. Small, simple, stays out of the way and lets me do my job. We use a forked git repo that has composer.json files for easier composer magic.</p>
<p><a href="http://twig.sensiolabs.org/">Twig</a> provides a template framework. Nicer, safer and easier than trying to do &lt;?php echo $var; ?&gt; everywhere.</p>
<p><a href="http://www.slimframework.com/">Slim</a> for a nice routing framework</p>
<p>Phorms for some nice forms</p>
<p>And lastly, the Twitter Bootstrap toolkit.</p>
    </body>
</html>
